#title{
  background-color: #ff4c68;
  color: #ffffff;

}

.container-fluid{
  padding: 3% 15% 4%;
}

.main-heading{
  font-family: 'Montserrat', sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;


}

body{
  font-family: 'Montserrat', sans-serif;
}
h2{
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 3rem;
  line-height: 1.5;
}
h3{
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}
p{
  color: #8f8f8f;
}

/* navigation bar */
.navbar{
  padding-bottom: 4.5rem;
}
.nav-item{
  padding: 0 18px;
}
.nav-link{
  font-size: 1.2rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;

}


.navbar-brand{
  font-family: 'Ubuntu', sans-serif;
  font-size: 2rem;
  font-weight: bold;

}

/* download buttons */
.download-button{
  margin: 5% 4% 5% 0;
}

/* title-image */

.title-image{
  width: 280px;
  height: 566px;
  transform: rotate(25deg);
  position: absolute;
  right: 23%;
}

/* features section */

#features{
  padding: 7% 12%;
  background-color: #fff;
  position: relative;
  /* z-index: 1; */
}
.feature-box{
  text-align: center;
  /* padding: 3%; */
}

.logo{
  color: #ef8172;
  margin-bottom: 1rem;
}
.logo:hover{
  color: #ff4c68;
}

/* testemonials */
#testimonials{
  text-align: center;
  background-color: #ef8172;
  color: #fff;

}
.testimonial-image{
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}
.carousel-item{
  padding: 7% 15%;
}
#press{
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 2%;


}
.press-logo{
  width: 15%;
  margin: 20px 20px 50px;
  padding: 20px 20px 50px;
}
/* pricing section */
#pricing{
  padding: 100px;
  text-align: center;

}
.pricing-column{
  padding: 3% 2%;
}
